
{% extends "layout.html" %}

{% block pageTitle %}
  YouTube player via iframe - Video Players Playground
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        YouTube player via iframe
      </h1>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/9dWawO6gdT8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>

{% endblock %}
